img{
	width: 200px;
	height: 230px;
	float: right;
}

h1{
	text-align: center;
	font-family: system-ui;
}

h2{
	text-align: center;
	font-family: system-ui;
}

p{
	font-size: 25px;
	font-family: system-ui;
}